/* src/components/PreCalibrationData.css */
.pre-calibration-data {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .custom-table {
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .custom-table thead {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .custom-table thead th {
    text-align: center;
  }
  
  .custom-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .custom-table tbody td {
    text-align: center;
    vertical-align: middle;
  }
  
  .custom-table tbody td span {
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  